<div class="col-sm-6 col-sm-offset-3">
  <h1 class="text-center">Register</h1>
  <%= form_for(@consumer) do |f| %>
    <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
    <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
    
    <%= render @questions %>
    
    <%= f.submit "Join the Community", class: "form-control btn btn-wide" %>
  <% end %>
</div>